@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
	font-size: 40px;
    font-style: normal;
    color: #FFFFFF;
}  .flaticon-dance16:before {
	content: "\e000";
}
.flaticon-decoration67:before {
	content: "\e001";
}
.flaticon-floral39:before {
	content: "\e002";
}
.flaticon-glasses50:before {
	content: "\e003";
}
.flaticon-hot-food:before {
	content: "\e004";
}
.flaticon-makeup13:before {
	content: "\e005";
}
.flaticon-musicplayer111:before {
	content: "\e006";
}
.flaticon-photography106:before {
	content: "\e007";
}
.flaticon-plant144:before {
	content: "\e008";
}
