.photo-grid {
    position: relative;
    height: 175px;
    width: 175px;
    overflow: hidden;
    margin: 3px 3px 3px 3px;
}

.photo-grid img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.video-grid img{
    height: 160px;
    width: 200px;
}

.playbutton {
    font-size: 55px;
    color:#FFFFFF;
    position: absolute;
    left: 41%;
    top: 29%;
}

.playbtn {
    text-shadow: 4px 4px #000000;
}