.photo-grid {
    position: relative;
    height: 175px;
    width: 175px;
    overflow: hidden;
    margin: 3px 3px 3px 3px;
}

.photo-grid img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.video-grid img{
    height: 160px;
    width: 200px;
}

.playbutton {
    font-size: 55px;
    color:#FFFFFF;
    position: absolute;
    left: 41%;
    top: 29%;
}

.playbtn {
    text-shadow: 4px 4px #000000;
}

/* BEGIN GENERIC */

body{
	width:100%;
	overflow-x:hidden;
	font-family: 'Open Sans', sans-serif;
}

* {
    font-family: 'Open Sans', sans-serif;
}

/* END GENERIC */


/* BEGIN NAVBAR */

nav.navbar-findcond { background: #fff; border-color: #d1d1d1; }
nav.navbar-findcond a { color: #FC6042; }
nav.navbar-findcond ul.navbar-nav a { color: #FC6042; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #FC6042; }
nav.navbar-findcond li.divider { background: #ccc; }
nav.navbar-findcond button.navbar-toggle { background: #FC6042; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; margin-right: 2px;}
nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #FC6042; color: #fff; }
nav.navbar-findcond span.badge { background: #FC6042; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {  border-color: #FC6042;  }

/* END NAVBAR */
 #registerform,#loginform{
    margin: auto;
    display: block;
    width: 80%;

}
body{
    background:#f2f1ef;
    font-family: 'Open Sans', sans-serif;
    overflow-x:hidden 
}
#registerform .form-control, #loginform .form-control{
    border-radius: 0px;
    margin-bottom: 22px;
    height: 37px;
    font-size: 15px;
    border-color: #a8a8a8;

}
textarea:focus, input:focus, .uneditable-input:focus {   
    border: 1px solid #ff692e !important;
    box-shadow: none!important;
    outline: 0 none !important;
}
.vline{
    border-right: 1px solid #585858;
}
#forgot{
    float:right;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #424242;
}
#regtext,#logtext{
    margin: auto;
        margin-bottom: 0px;
        margin-top: 20px;

    display: table;
    color: #424242
}
.buttonsubmit{
    border-radius: 2px;
    margin: auto;
    display: block;
    width:100%;
    height: 37px;
        background: #FC6042;
        border-color: #FC6042;
        color: white;
        font-size: 15px;



}
.buttonsubmit:hover{
            border-color: #FC6042;

  background-color: white;
  color: #FC6042;
  text-decoration: none;

}
.mainrow{
    margin-top: 60px;
}

.well-reg,.well-log{
    margin: auto;
    display: block;
    width: 70%;
    padding-bottom: 40px;
    border: 1px solid #d1d1d1;
    box-shadow: none;
    background-color: white;
    border-radius: 0px;

}


.well-reg{
}
.well-log{
    padding-bottom: 60px;
}
.well-why{
     margin: auto;
    display: block;
    width: 70%;
    margin-left: 0px;
    margin-top: 20px;
    background: white;
    display: none;
}
.well-head{
    margin: auto;
    display: block;
    width: 69.25%;
    margin-bottom: 20px;
    background-color: white;
    display: none;
}
#loginglyph{
    font-size: 30px;
    color: white;
}
#logtext{
    margin-bottom: 20px;
}
#regtext{
    margin-bottom: 20px;

}
.logcol{
    position: relative;
    margin-top: 9%;
}
.logcol2{
            margin-top: 0px;
            padding-top: 2%;

        }

        .logimg{
            height:50px;
            width:270px;
        }
        .maincol{
            margin-top: 10%;
            background-color: white;
            padding-left: 0px;
            padding-right: 0px;
        }
        .socialcol{
            margin-top: 8%;
            text-align: center;
        }
        .facebook{
                height: 62px;
            margin-top: 20px;
        }

/* add listing */

.top-header {
    text-align: center;
    background: #FFFFFF;
    min-height: 150px;
    border-bottom: 1px solid #f3f3f3;
}

.left-sidebar {
    left:0;
    width: 200px;
    background: #FFFFFF;
    min-height: 200px;
}

.tips-panel {
    margin-top: 50px;
}

#left-bar {
    width: 100%;
}

.form-wizard {
    background-color: #FFFFFF;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #d1d1d1;
}

 #blah {
    background-color: #FFF;

    font-size: 24px;
    display: block;
    max-height: 500px;
    max-width: 500px;
  }
  #canvas{
    width: 200px;
    height: 320px;
  }

.navbar-bright {
 background-color:#111155;
 color:#fff;
}

.affix-top,.affix{
 position: static;
}

#sidebar {
    text-align: center;
}

@media (min-width: 979px) {
  #sidemenu.affix-top {
    position: static;
  	margin-top:225px;
  	width:228px;
  }

  #sidemenu.affix {
    position: fixed;
    top:169px;
    width:228px;
  }
}

#sidebar li.active {
  border:0 #eee solid;
  border-right-width:5px;
}

.add-listing-message {
    text-align: center;
}

.message-separator {
    display: block;
	border-top: 1px solid #d9d9d9;
    margin: 25px auto 35px auto;
	width: 37%;
}


.timeline-centered {
    position: relative;
    margin-bottom: 30px;
}

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before {
        content: '';
        position: absolute;
        display: block;
        width: 1px;
        background: #FC6042;
        /*left: 50%;*/
        top: 20px;
        bottom: 20px;
        margin-left: 30px;
    }

    .timeline-centered .timeline-entry {
        position: relative;
        margin-top: 45px;
        margin-left: 30px;
        margin-bottom: 15px;
        clear: both;
    }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry.begin {
            margin-bottom: 0;
        }

        .timeline-centered .timeline-entry.left-aligned {
            float: left;
        }

            .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
                margin-left: 0;
                margin-right: -18px;
            }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
                    left: auto;
                    right: -100px;
                    text-align: left;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
                    float: right;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
                    margin-left: 0;
                    margin-right: 70px;
                }

                    .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
                        left: auto;
                        right: 0;
                        margin-left: 0;
                        margin-right: -9px;
                        -moz-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }

        .timeline-centered .timeline-entry .timeline-entry-inner {
            position: relative;
            margin-left: -20px;
        }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
                position: absolute;
                left: -100px;
                text-align: right;
                padding: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
                    display: block;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
                        font-size: 15px;
                        font-weight: bold;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
                        font-size: 12px;
                    }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
                background: #fff;
                color: #737881;
                display: block;
                width: 40px;
                height: 40px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                text-align: center;
                -moz-box-shadow: 0 0 0 1px #FC6042;
                -webkit-box-shadow: 0 0 0 1px #FC6042;
                box-shadow: 0 0 0 1px #FC6042;
                line-height: 45px;
                font-size: 15px;
                float: left;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
                    background-color: #303641;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
                    background-color: #ee4749;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
                    background-color: #00a651;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
                    background-color: #21a9e1;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
                    background-color: #fad839;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
                    background-color: #cc2424;
                    color: #fff;
                }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
                text-align: center;
                background: #FFFFFF;
                border-bottom: 1px solid #d9d9d9;
                padding: 5px;
                margin-left: 60px;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:hover {
                color: #FC6042; !important;
                border-bottom: 1px solid #FC6042;
            }

                /*.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {*/
                    /*content: '';*/
                    /*display: block;*/
                    /*position: absolute;*/
                    /*width: 0;*/
                    /*height: 0;*/
                    /*border-style: solid;*/
                    /*border-width: 9px 9px 9px 0;*/
                    /*border-color: transparent #f5f5f6 transparent transparent;*/
                    /*left: 0;*/
                    /*top: 10px;*/
                    /*margin-left: -9px;*/
                /*}*/

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
                    color: #737881;
                    font-family: "Noto Sans",sans-serif;
                    font-size: 12px;
                    margin: 0;
                    line-height: 1.428571429;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
                        margin-top: 15px;
                    }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
                    font-size: 16px;
                    margin-bottom: 10px;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
                        color: #303641;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
                        -webkit-opacity: .6;
                        -moz-opacity: .6;
                        opacity: .6;
                        -ms-filter: alpha(opacity=60);
                        filter: alpha(opacity=60);
                    }


.tick-box {
    color: #2ECC71;
    font-size: 40px;
    top: -4px;
    right: -5px;
    font-weight: 400;
}

.timeline-label a{
    color: inherit;
    text-decoration: none;
}

.timeline-label a:hover{
    color: inherit;
    text-decoration: none;
}

.section-container {
    padding: 17px;
    width: 100%;
}

.section-header h1 {
    font-size: 20px;
    text-align: center;
    color: #333;
}