{% extends 'root/base.html' %}
{% load static %}
    {% load bootstrap %}

    {% block page_title %}Add A Listing{% endblock %}

    {% block header_block %}

           <script src="{% static 'jcrop/js/jquery.min.js' %}"></script>
<script src="{% static 'jcrop/js/jquery.Jcrop.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'jcrop/css/jquery.Jcrop.css' %}" type="text/css" />
<script src="{%  static 'js/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% url 'city_list' %}"></script>
<link href="{% static 'css/autocomp.css' %}" rel="stylesheet">
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="{% static 'js/jquery.geocomplete.js' %}"></script>
<script type="text/javascript">


$(document).ready(function(){/* activate sidebar */

/* smooth scrolling sections */
$('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top - 50
        }, 1000);
        return false;
      }
    }
});
});

function add_m_n() {
        $(".additional-contact").show();
        $("#contact_holder").removeClass();
        $("#contact_holder").addClass("col-md-12")
        $(".addmore-num").hide();
        };

$(function(){
        $("#id_address_city").geocomplete({
          map: ".map_canvas",
          location : "India",
          markerOptions: {
            draggable: true
          }
        });

        $("#id_address_city").bind("geocode:dragged", function(event, latLng){
          $("#id_latitude").val(latLng.lat());
          $("#id_longitude").val(latLng.lng());
        });

        $("input").change(function(){
            check_tick();
        });
        $("select").change(function(){
            check_tick();
        });

        if(!($(".additional-contact input").val() === '')){
            add_m_n();
        }

        function check_tick(){
            //check section 1
            if(!($("#id_talents").val() === '') && ($('.events-checks input:checked').length > 0)) {
                $("#sec1box i").removeClass();
                $("#sec1box i").addClass('entypo-feather glyphicon glyphicon-ok tick-box');
            }
            else
            {
                $("#sec1box i").removeClass();
                $("#sec1box i").addClass('entypo-feather');
            }

            if($("#id_fees").val() === '') {
                $("#sec3box i").removeClass();
                $("#sec3box i").addClass('entypo-feather');
            }
            else
            {
                $("#sec3box i").removeClass();
                $("#sec3box i").addClass('entypo-feather glyphicon glyphicon-ok tick-box');
            }

            if(!($("#id_name").val() === '') && !($("#id_city").val() === '') && !($("#outstation").val() === ''))
            {
                $("#sec2box i").removeClass();
                $("#sec2box i").addClass('entypo-feather glyphicon glyphicon-ok tick-box');
            }
            else
            {
                $("#sec2box i").removeClass();
                $("#sec2box i").addClass('entypo-feather');
            }

            if(!($("#id_contact_name").val() === '') && !($("#id_contact_number").val() === '') && !($("#id_contact_email").val() === '')) {
                $("#sec4box i").removeClass();
                $("#sec4box i").addClass('entypo-feather glyphicon glyphicon-ok tick-box');
            }
            else
            {
                $("#sec4box i").removeClass();
                $("#sec4box i").addClass('entypo-feather');

            }
        }

        check_tick();

      });

$(document).ready(function(){

    $(".addmore-num").click(function(e){
        e.preventDefault();
        add_m_n();
    });

    $("#id_city").autocomplete({
          source : cityList});

    // Dropdown change stuff
    $(".tagged").hide();

    $('.talent-'+$('select[name=talents]').val()).show();

    $('select[name=talents]').change(function(){
        $(".tagged").hide();
        $('.talent-'+$(this).val()).show();
    });

    $("input, select, textarea").focus(function(){
        var dats = $(this).parent().parent().parent().attr('data-help');
        $("#help_text_container").show();
        $("#help_text_box").html(dats);
    });

    $("input, select, textarea").blur(function(){
        $("#help_text_container").hide();
    });




    // end dropdown change stuff


function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
                $('.crop').Jcrop({
                  onSelect: updateCoords,
                        bgOpacity:   .4,
                        setSelect:   [ 100, 100, 50, 50 ],
                        aspectRatio: 10/16
                });
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#id_profile_pic").change(function(){
        readURL(this);
    });
    $('#btnCrop').click(function () {
        var x1 = $('#id_x').val();
        var y1 = $('#id_y').val();
        var width = $('#id_x2').val();
        var height = $('#id_y2').val();
        var canvas = $("#canvas")[0];
        var context = canvas.getContext('2d');
        var img = new Image();
        img.onload = function () {
            canvas.height = height;
            canvas.width = width;
            context.drawImage(img, x1, y1, width, height, 0, 0, width, height);
            $('#imgCropped').val(canvas.toDataURL());
        };
        img.src = $('#blah').attr("src");
    });
  function updateCoords(c)
  {
    var img2 = new Image();
        img2.src = $('#blah').attr("src");
        var realwidth = img2.width;
        var realheight = img2.height;
        var imgheight = $('#blah').height();
        var imgwidth = $("#blah").width();
        var fx = realwidth/imgwidth;
        var fy = realheight/imgheight;
    $('#id_x').val(parseInt(c.x*fx));
    $('#id_y').val(parseInt(c.y*fy));
    $('#id_x2').val(parseInt(c.w*fx));
    $('#id_y2').val(parseInt(c.h*fy));
    $('#btnCrop').click();
  };
});

</script>

    {% endblock %}

    {% block body_block %}

        <div class="container form-wizard">
      <div class="add-listing-message">
              <h3>Add your listing</h3>
                <p>Your first step towards redemption</p>
            <hr class="message-separator">
        </div>

         <div class="col-md-3">
            <div id="left-bar">
                  <div class="tips-panel" data-spy="affix" data-offset-top="10px" id="sidemenu">
                      <div class="timeline-centered">
        <article class="timeline-entry">
            <div class="timeline-entry-inner">
                <div class="timeline-icon" id="sec1box">
                    <i class=""></i>
                </div>
                <div class="timeline-label">
                    <a href="#sec1">Art/Service</a>
                </div>
            </div>
        </article>
        <article class="timeline-entry">
            <div class="timeline-entry-inner">
                <div class="timeline-icon" id="sec2box">
                    <i class=""></i>
                </div>
                <div class="timeline-label">
                    <a href="#sec2"> Basics </a>
                </div>
            </div>
        </article>
        <article class="timeline-entry">
            <div class="timeline-entry-inner">
                <div class="timeline-icon" id="sec3box">
                    <i class=""></i>
                </div>
                <div class="timeline-label">
                    <a href="#sec3">Fees</a>
                </div>
            </div>
        </article>
        <article class="timeline-entry">
            <div class="timeline-entry-inner">
                <div class="timeline-icon" id="sec4box">
                    <i class="entypo-feather"></i>
                </div>
                <div class="timeline-label">
                    <a href="#sec4">Contact</a>
                </div>
            </div>
        </article>
{#        <article class="timeline-entry begin">#}
{#            <div class="timeline-entry-inner">#}
{#                <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">#}
{#                    <i class="entypo-flight"></i> +#}
{#                </div>#}
{#            </div>#}
{#        </article>#}
    </div>

{#        <ul class="nav nav-pills nav-stacked" id="sidebar" data-spy="affix">#}
{#          <li><a href="#sec0">Section 0</a></li>#}
{#          <li><a href="#sec1">Section 1</a></li>#}
{#          <li><a href="#sec2">Section 2</a></li>#}
{#          <li><a href="#sec3">Section 3</a></li>#}
{#          <li><a href="#sec4">Section 4</a></li>#}
{#        </ul>#}
                  </div>
                </div>
            </div>

        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="section-container" id="sec1">
                <div class="section-header">
                    <h1>Art/Service</h1>
                </div>
                <hr class="section-separator">
                <div class="row">
                    <div class="col-md-12" data-help="Talents Help Text">
                        {{ form.talents | bootstrap }}
                        </div>
                    <div class="col-md-12">
                    <div class="form-group additional-separator">
                        <label class="control-label tags-control">{{ form.tags.label }}</label>
                        <div>
                {% for choice in form.tags.field.choices %}
                    <div class="tagged talent-{{ choice.2.talent.pk }}" talent_for="{{ choice.2.talent.pk }}">
                        <label><input type="checkbox"
                               name="{{ form.tags.name }}"
                               value="{{ choice.0 }}"
                                {% if choice.0|safe in form.tags.value or choice.0 in form.tags.value %} checked="checked" {% endif %}><span>
                        {{ choice.2 }}</span></label>
                    </div>
                {% endfor %}
                            </div>
                    </div>
            {% if form.tags.errors %}
                <span class="help-block">{{ form.tags.errors }}</span>
            {% endif %}
                        </div>
                     <div class="col-md-12">
                     <div class="form-group additional-separator {% if form.functions.errors %} has-error {% endif %}">
                       <label class="control-label tags-control">{{ form.functions.label }}</label>
                     {% if form.functions.errors %}
                <div class="help-block">{{ form.functions.errors.0 }}</div>
            {% endif %}
                     <div class="events-checks">
                {% for choice in form.functions.field.choices %}
                    <div class="checki pull-left">
                        <input type="checkbox"
                               name="{{ form.functions.name }}"
                               value="{{ choice.0 }}"
                                {% if choice.0|safe in form.functions.value or choice.0 in form.functions.value %} checked="checked" {% endif %}>
                        <strong>{{ choice.1 }}</strong>
                    </div>
                {% endfor %}
                     </div>
                     </div>

                        </div>
                </div>
                </div>

            <div class="section-container" id="sec2">
                <div class="section-header">
                    <h1>Basics</h1>
                </div>
                <hr class="section-separator">
                <div class="row">
                    <div class="col-md-12" data-help="Name Help Text">
                        {{ form.name | bootstrap }}
                        </div>
                    <div class="col-md-12" data-help="City Help Text">
                        {{ form.city | bootstrap }}
                        </div>
                    <div class="col-md-12" data-help="Outstation Help Text">
                        {{ form.outstation | bootstrap }}
                        </div>

                    <div class="col-md-12" data-help="Bio Help Text">

                    {{ form.bio | bootstrap }}

                    </div>

                </div>



            </div>

            <div class="section-container" id="sec3">
                <div class="section-header">
                    <h1>Fees</h1>
                </div>
                <hr class="section-separator">
                <div class="row">

                    <div class="col-md-12" data-help="Fees Help Text">
                        {{ form.fees | bootstrap }}
                        </div>

                    <div class="col-md-12" data-help="Comments Help Text">
                        {{ form.comments | bootstrap }}
                        </div>
                </div>
                </div>

            <div class="section-container" id="sec4">
                <div class="section-header">
                    <h1>Contact Details</h1>
                </div>
                <hr class="section-separator">
                <div class="row">

                    <div class="col-md-12" data-help="Contact Name Help Text">
                        {{ form.contact_name | bootstrap }}
                        </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-11" id="contact_holder" data-help="Contact Help Text">
                        {{ form.contact_number | bootstrap }}
                                </div>
                            <div class="col-md-1">
                                <a href="#">
                        <i class="glyphicon glyphicon-plus addmore-num"></i>
                                    </a>
                                </div>
                        </div>
                        </div>

                    <div class="col-md-12 additional-contact" style="display: none" data-help="Contact Help Text">
                        {{ form.contact_number2 | bootstrap }}
                    </div>

                    <div class="col-md-12 additional-contact" style="display: none" data-help="Contact Help Text">
                        {{ form.contact_number3 | bootstrap }}
                    </div>

                    <div class="col-md-12" data-help="Email Help Text">
                        {{ form.contact_email | bootstrap }}
                        </div>

                    <div class="col-md-12" data-help="Address Help Text">
                        {{ form.address | bootstrap }}
                    </div>

                    <div class="col-md-12" data-help="Region Help Text">
                        {{ form.address_city | bootstrap }}
                    </div>

                    <div class="col-md-12" data-help="Map Help Text">
                        <label>Mark your location on the map</label>
                         <div class="map_canvas"></div>
                        {{ form.latitude }}
                        {{ form.longitude }}
                    </div>

                </div>
                </div>

            <div class="section-container">
            <div class="row">
                <div class="col-md-12">
                    <input class = "btn btn-default buttonsubmit" type="submit" value="Save and move to uploads" name="Save and move to uploads"></a>
                    </div>
            </div>
                </div>

            </form>
        </div>

        <div class="col-md-3">

            <div class="row">
                <div class="col-md-12">

                    <div id="help_text_container" style="display:none;">
                    <div class="panel panel-default affix" id="help_text" data-spy="affix">
                        <div class="panel-body" id="help_text_box">

                        </div>
                    </div>
                    </div>

                    </div>
                </div>

            </div>



{#    #}
{#<div class= "row">#}
{#    <div class = " col-md-offset-2 col-md-8" >#}
{##}
{#<form method="post" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    <h2>Basics</h2>#}
{##}
{##}
{#{% for field in form %}#}
{##}
{#    {% if field.name == 'tags' %}#}
{##}
{#        <h4>{{ form.tags.name }} : </h4>#}
{##}
{#            <ul>#}
{#                {% for choice in form.tags.field.choices %}#}
{#                    <li class="tagged talent-{{ choice.2.talent.pk }}" talent_for="{{ choice.2.talent.pk }}">#}
{#                        <input type="checkbox"#}
{#                               name="{{ form.tags.name }}"#}
{#                               value="{{ choice.0 }}"#}
{#                                {% if choice.0|safe in form.tags.value or choice.0 in form.tags.value %} checked="checked" {% endif %}>#}
{#                        <strong>{{ choice.2 }}</strong>#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ul>#}
{##}
{#            {% if form.tags.errors %}#}
{#                <span class="help-block">{{ form.tags.errors }}</span>#}
{#            {% endif %}#}
{##}
{#    {% else %}#}
{#        {{ field | bootstrap }}#}
{##}
{#    {% endif %}#}
{##}
{#{% endfor %}#}
{##}
{##}
{#  <h2>Projects</h2>#}
{##}
{#{% bootstrap_dynamic_formset formset can_order=True can_delete=True layout="horizontal" %}#}
{##}
{#    {{ formset.management_form |bootstrap}}#}
{##}
{#    {% for formi in formset %}#}
{#        <div class="project_formset project_form_{{ forloop.counter }}">#}
{#        <h4>Project {{ forloop.counter }}</h4>#}
{##}
{#        {% for field in formi %}#}
{#            {% if field.label != 'Listing' and field.label != 'Id' %}#}
{#                {{ field|bootstrap }}#}
{#                {{ field.errors }}#}
{#            {% endif %}#}
{#        <br/>#}
{#        {% endfor %}#}
{#        </div>#}
{#    {% endfor %}#}
{##}
{#    <button id="add_more_project">+1 Project</button>#}
{##}
{#    <input type="submit" id="form-submit" class = "btn btn-default" value="submit">#}
{##}
{#</form>#}
{#</div>#}
{#</div>#}
{% endblock %}