{% extends 'base.html' %}
{% load static %}


    {% load bootstrap %}
    {% block page_title %} Register As An Artist{% endblock %}
    {% block body_block %}
<div class= "row">
    <div class = " col-md-offset-2 col-md-8" >

<form method="post" enctype="multipart/form-data">


    {% csrf_token %}

    <h2>Basics</h2>

    {% for field in form %}
        {{ field |bootstrap }}
        {{ field.errors }}
        <br/>
    {% endfor %}

    <h2>Projects</h2>

    {{ formset.management_form |bootstrap}}

    {% for formi in formset %}
        <h4>Project {{ forloop.counter }}</h4>

        {% for field in formi %}
            {% if field.label != 'Listing' and field.label != 'Id' %}
            {% endif %}
                {{ field|bootstrap }}
                {{ field.errors }}
        <br/>
        {% endfor %}
    {% endfor %}

    <input type="submit" class = "btn btn-default" value="submit">

</form>
</div>
{% endblock %}