{% extends 'root/base.html' %}
{% load static %}

{% block header_block %}

	<style type="text/css">

	.sidecol{
		background-color: white;
		text-align: center;
		padding-top: 20px;
		border: 1px solid #d1d1d1;

	}
	.singlelist{
		margin-left: 10px;
		margin-bottom:10px;
		background-color: white;
		border:1px solid #d1d1d1;
		height: 200px;

	}
	.pic-col{
		padding-left: 0px;
		padding-right: 0px;
	}
	.info-col{
	}
	.namerow{
		border-bottom: 1px solid #d1d1d1;
		text-align: center;background-color: #d1d1d1;
	}
	.profilepic{
		height: 200px;
		width: 200px;
		float:left;
		clear: left;
	}
	.attributes{
		margin-top: 20px;
	}
	.attr-name{
		font-weight: bolder;
		font-size: 16px;
	}
	.name{
		color: #333;
	}
	.attr-col{
		border-right:1px solid #eee;
		min-height: 100px;
		text-align: center;
	}
	.links{
		color: #333;
	}


	</style>


{% endblock %}

{% block body_block %}



<br/><br/>

<div class="row">


	<div class="col-md-3 sidecol">
	<h3>Hi {{ up.full_name }}!</h3>
		<hr>

<a class="links" href="{% url 'password_change_done' %}">Change Password</a><br/>
<a class="links"  href="{% url 'edit_profile' %}">Edit Profile</a><br/>
<a class="links"  href="{% url 'add_listing' %}"> Add Listing</a> <br/><br/>
	</div>

	<div class="col-md-9">
{% for listing in listings %}
		<div class="col-md-6">

                        <div class="content-box">
                            <div class="result-card">
                                <div class="row">
                                        <div class="col-md-4">
                                            <img src="listing.profile_pic" class="card-image">
                                        </div>

                                        <div class="col-md-8 listing-card-data">

                                            <div class="row">
                                                <div class="col-md-5">
                                            <div class="rating rating-box">
                                        {% get_rating listing %}</div>


                                        </div>
                                        <div>
                                                <div class = "col-md-6">
                                            {% if listing.outstation == 1 %}
                                            <p class = "outright">Outstation Services</p></div>
                                            {% else %}
                                            <p class = "outwrong">Outstation Services</p></div>
                                            {% endif %}

                                        </div>


                                            <div class="col-md-12">

                                    <div class="listing-name">
                                        <h5><b>{{listing.name}}</b></h5>
                                    </div>
                                                <div class="listing-talent">
                                                    <h5>{{listing.talents}}</h5>
                                                </div>

                                                <div class="listing-tags">
                                                    {# only show 4 tags at max and .. if more tags are there #}
                                                    {% for name in listing.tag_names|slice:":4" %}
                                                    <p class="tag">

                                                        {{name}}
                                                    </p>
                                                    {% endfor %}
                                                    
                                                </div>


                                                <div class="listing-price">
                                                   Rs. {{listing.fees}}
                                                </div>
                                                </div>
                                            </div>

                                    </div>
                            </div>

</div>
                    </div>
                        </div>

{% endfor %}

{% if not listings %}
    You have No listings!
{% endif %}
</div>

</div>
{% endblock %}