{% extends 'base.html' %}
{% load static %}
<script type="text/javascript" src="{ % static 'js/dist/js/picedit.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'js/dist/css/picedit.min.css' %}" />

<script type="text/javascript">
    $(document).ready(function() {
        $('#id_profile_pic').picEdit();
    });
</script>


	{% load bootstrap %}
    {% block page_title %} Register As An Artist{% endblock %}
    {% block body_block %}
<div class= "row">
    <div class = " col-md-offset-2 col-md-8" >
<form method="post">

    {% csrf_token %}


    {{ form|bootstrap }}

    <input class = "btn btn-default" type="submit" value="submit">
    <p>OR</p>
    <a href="/login"><input class = "btn btn-default" value="Login"></a>



</form>
</div>
{% endblock %}