<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

Hi {{ up.full_name }}

<br/><br/>

<a href="{% url 'password_change_done' %}">Change Password</a><br/>
<a href="{% url 'edit_profile' %}">Edit Profile</a><br/>
<a href="{% url 'add_listing' %}"> Add Listing</a> <br/><br/>

<br/>
Your listings: <br/>
{% for listing in listings %}
Listing {{ forloop.counter }}:
    <a href="/artist/{{ listing.id }}">{{ listing.name }}</a>
    <br/>

{% endfor %}

{% if not listings %}
    You have No listings!
{% endif %}
</body>
</html>