{% extends 'root/base.html' %}
{% load static %}

	{% load bootstrap %}


    {% block header_block %}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
    $(document).ready(function(){






    });
        
    </script>
  

    {% endblock %}
    {% block body_block %}

   
<div class= "row mainrow">
    
    <div class = " col-md-6 " >
        <div class="well well-reg">
         <h2 id="regtext">Join Us!</h2>

<form method="post" id="registerform">

    {% csrf_token %}


    {{ form_register|bootstrap}}

    <input class = "btn btn-default buttonsubmit" type="submit" value="Sign Up" name="register">
 


</form>
</div>
</div>

<div class="col-md-6 logcol">
    <div class="well well-log">

        <h2 id="logtext">Welcome Back!</h2>



    <form method="post" id="loginform">

    {% csrf_token %}

    {{ form_login |bootstrap}}
<a><input class = "btn btn-default buttonsubmit" type="submit" value="Login" name="login"></a>
        <a href="#" id="forgot">Forgot Password?</a>




</form>

</div>

</div>

</div>

{% endblock %}