<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    {{ form.media }}

</head>
<body>

<h3>Editing Listing : {{ listing.name }}</h3>

<form method="post" enctype="multipart/form-data">


    {% csrf_token %}

    <h2>Basics</h2>

    {% for field in form %}
        {{ field.label }} :
        {{ field }}
        {{ field.errors }}
        <br/>
    {% endfor %}

    <h2>Projects</h2>

    {{ formset.management_form }}

    {% for formi in formset %}
        <h4>Project {{ forloop.counter }}</h4>

        {% for field in formi %}
            {% if field.label != 'Listing' and field.label != 'Id' %}
                {{ field.label }}
            {% endif %}
                {{ field }}
                {{ field.errors }}
        <br/>
        {% endfor %}
    {% endfor %}

    <input type="submit" value="submit">

</form>

</form>

</body>
</html>