<!DOCTYPE html>
{% load static %}
{% load bootstrap %}
{% load extra %}
{% cookie_city as set_city %}
<html>
<head>
<meta name="viewport" content="width=device-width" />

<script src= "{% static 'js/jquery-min.js' %}" type="text/javascript"></script>
<script src="{%  static 'js/jquery-ui.min.js' %}" type="text/javascript"></script>
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet" media="screen">
<script src="{%  static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{%  static 'js/homepage.js' %}" type="text/javascript"></script>
<link href="{% static 'nouislider.min.css' %}" rel="stylesheet">
<script src="{% static 'nouislider.min.js' %}"></script>

{# Stuff for autocomplete #}
<script src="{% url 'city_list' %}"></script>
<link href="{% static 'css/autocomp.css' %}" rel="stylesheet">
{# end stuff for autocomplete #}

<link href="{% static 'icons/flaticon.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'css/homepage.css' %}" rel="stylesheet">
<link href="{% static 'css/app.css' %}" rel="stylesheet">

<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
$(function(){

    {% if set_city == '' %}
          $('#cityModal').modal({
              backdrop: 'static',
              keyboard: false
          });

    {% endif %}
    $(document).ready(function(){

    	$("#loginmodal #id_name").attr('id','name2');



    });


});


    </script>
    <style type="text/css">

        .logcol2{
            margin-top: 0px;
            padding-top: 0%;

        }

        .logimg{
            height:50px;
            width:270px;
        }
        .maincol{
            margin-top: 10%;
            background-color: white;
            padding-left: 0px;
            padding-right: 0px;
        }
        .socialcol{
            margin-top: 8%;
            text-align: center;
        }
        .facebook{
                height: 62px;
            margin-top: 20px;
            position: relative;
            left:-6px;
        }
        .modalhead{
        	text-align: center;
        }
        .modaldialog{
        	width:800px;
        	padding: 30px;
        }
        .googlebutton{
        	background-color: #DC4B39;
        	width: 286px;
        	height: 39px;
        	border:none;
        	margin-bottom: 20px;
        	text-align: center;
        	margin-top: 10px;
        }
        .socialtext{
        	color: white;
        	margin-top:3%;
        	position: relative;
        	right:10px;
        }
        .fbbutton{
        	background-color: #3B5998;
        	width: 286px;
        	height: 39px;
        	border:none;
        }
        .scicon{
        	width:30px;
        	float: left;
        	position: relative;
        	top:-5px;

        }
        .regcol{
        	border-left: 1px solid #d1d1d1;
        }
        .modaldialog{
        	width:900px;
        }
        .img_festival{
            width: 300px; 
            height:300px;
            -webkit-box-shadow: 0 0 20px #333;
        box-shadow: 0 0 20px #333;
        }
        .festrow{
            display:flex;
            text-align: center;
            margin: auto;
            margin-bottom: 5px;
        }
        .img-left{
            margin-right: 5px;

        }
        .img-right{
            margin-left: 5px;
        }


    </style>


</head>
<body>
	<div id="cityModal" class="modal fade" role="dialog">
  <div class="modal-dialog ">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body bodymodal">
                <div class="cityselecttext"><input type="text" id="cityinput"  placeholder="Enter your city"></input></div>
      		    <hr>
                <h4 class="cityselecttext">Popular</h4>
      		    <p id="citylinkp">{% for city in cities %}<a class="citylink" href="/set_city?city={{ city.name|lower }}">{{ city.name|title }} </a> {% if not forloop.last %}&bull; {% endif %}{% endfor %}</p>
      </div>
    </div>

  </div>
</div>
<div id="loginmodal" class="modal fade" role="dialog">
  <div class="modal-dialog modaldialog">

    <!-- Modal content-->
    <div class="modal-content">
      
      <div class="modal-body bodymodal">
      	<div class="row">
         <div class="col-md-6 logcol2">




    <form method="post" id="loginform">

    {% csrf_token %}

    {{ form_login |bootstrap}}
<a><input class = "btn btn-default buttonsubmit" type="submit" value="Login" name="login"></a>

        <a href="#" id="forgot">Forgot Password?</a>
        <button class="googlebutton"><div>
        	<img src="{% static 'google.png' %}" class="scicon">
        	<p class="socialtext">Continue With Google</p>

        </div></button>
        <button class="fbbutton"><div>
        	<img src="{% static 'facebook.png' %}" class="scicon">
        	<p class="socialtext">Continue With Facebook</p>

        </div></button>




</form>



</div>
<div class="col-md-6 regcol">


    		<form method="post" id="registerform">

    {% csrf_token %}

    {{ form_register | bootstrap }}

    <input type="submit" class="btn btn-default buttonsubmit" value="Sign Up">

</form>


    		</div>
</div>

      </div>

    </div>

  </div>
</div>

<div id="registermodal" class="modal fade" role="dialog">
  <div class="modal-dialog modaldialog ">
    <!-- Modal content-->
    <div class="modal-content ">
      <div class="modal-body ">
      	<div class="row">
      	<div class="col-md-6 regcol">


    		<form method="post" id="registerform">

    {% csrf_token %}

    {{ form_register | bootstrap }}

    <input type="submit" class="btn btn-default buttonsubmit" value="Sign Up">

</form>


    		</div>
    		<div class="col-md-6 socialcol socialcol2 " style="margin-top:25%;">
    <a href='{% url "socialauth_begin" "facebook" %}' /><img src="{% static 'google.png' %}" class='logimg'></a>
<a href='{% url "socialauth_begin" "google-oauth2" %}' /><img src="{% static 'facebook.png' %}" class='facebook'></a>

</div>
</div>
                
    </div>

  </div>
</div>
</div>
<div id="myCarousel" class="carousel carousel-fade slide">
  
  <div class="carousel-inner">
    <div class="item active">
      <img src="{% static '01.jpg' %}" class="carouselimg img-responsive">
      
    </div>
    <div class="item">
      <img src="{% static '02.jpg' %}" class="carouselimg img-responsive">
      </div>
    <div class="item">
      <img src="{% static '03.jpg' %}" class="carouselimg img-responsive">

    </div>
    <div class="item">
      <img src="{% static '04.jpg' %}" class="carouselimg img-responsive">

    </div>
    <div class="item">
      <img src="{% static '05.jpg' %}" class="carouselimg img-responsive">

    </div>
    <div class="item">
      <img src="{% static '06.jpg' %}" class="carouselimg img-responsive">

    </div>
    <div class="item">
      <img src="{% static '07.jpg' %}" class="carouselimg img-responsive">

    </div>
    <div class="item">
      <img src="{% static '08.jpg' %}" class="carouselimg img-responsive">

    </div>
    <div class="item">
      <img src="{% static '09.jpg' %}" class="carouselimg img-responsive">

    </div>
  </div>
</div>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div>
      		<div class="collapse navbar-collapse" id="navbar">

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="#">Logged in as {{user.get_username}}</a></li>
        <li><a href="/logout">Log Out</a></li>


        {% else %}
        <li><a href="#" data-toggle="modal" data-target="#loginmodal"> Login</a></li>
        {% endif %}
      <li><a href="#" id="changeCity" data-toggle="modal" data-target="#cityModal"> {% if set_city %}
            {{ set_city|title }}
        {% else %}
            Select City
        {% endif %}
        </a></li>
      </ul>
    </div>
</div>
  </div>
</nav>
<div class='searchbox'>
	<h2 id="headtext">Discover best <br/>artists for your event</h2>
	<form class="form-inline" id="categoryform" action="/search">
					{{form.talents|bootstrap_inline}}
					{{form.function_type|bootstrap_inline}}
<button class="btn btn-primary styleb">Search</button>

</form>
<form class="form-inline" id="nameform" style="display: none;">
							{{artist_form.name|bootstrap_inline}}
							<button class="btn btn-primary styleb" onclick="return false">Search</button>
</form>
								<a href="#"><button id="toggle">Search by name</button></a>
</div>


<div class="row" id="iconrow">
	<div class="col-md-12 col-md-offset-1">
				<div class="col-md-2 text-center">
					<div class="row"><a href="#"><i class="flaticon-dance16 flaticon row-icon"></i></a></div>
				 		<div class="row"> <a href="#"><p class="icon-text">Dance</p></a></div>
	</div>
	<div class="col-md-2 text-center">
					<div class="row"><a href="#"><i class="flaticon-glasses50 flaticon row-icon"></i> </a></div>
				 		 <div class="row"><a href="#"><p class="icon-text">Hire</p></a></div>
	</div>
	
	<div class="col-md-2 text-center">
					<div class="row"><a href="#"><i class="flaticon-hot-food flaticon row-icon"></i> </a></div>
				 		<div class="row"> <a href="#"><p class="icon-text">Enjoy</p></a></div>
	</div>
	<div class="col-md-2 text-center">
					<div class="row"><a href="#"><i class="flaticon-photography106 flaticon row-icon"></i></a></div>
				 		<div class="row"><a href="#"><p class="icon-text">Find</p></a></div>
	</div>
	<div class="col-md-2 text-center">
					<div class="row"><a href="#"><i class="flaticon-musicplayer111 flaticon row-icon"></i></a></div>
				 		 <div class="row"> <a href="#"><p class="icon-text">Music</p></a> </div>
    </div>

	</div>



</div>	
<div class = "row talentrow1">
	<h1 id="talenthead">Find vendors for any occasion</h1>
	<div class="row">
		<div class="col-md-9 col-md-offset-1">
						<hr id="talenthr">
					</div>


	</div>
				
	<div class="row">
			<div class="col-md-9 col-md-offset-1">


			<div class="col-md-4 talents col-sm-12 imgcol ">
			<img src= "{% static 'Food-artist.jpg' %}" class=" left img_talent img-responsive">
			<h3 class='overlay_talent'> Talent</h3>
		</div>
		<div class="col-md-4 talents col-sm-12 imgcol">
			<img src= "{% static 'Makeup-artist.jpg' %}" class="img_talent img-responsive">
			<h3 class='overlay_talent'> Talent</h3>

		</div>
		<div class="col-md-4 talents col-sm-12 imgcol ">
			<img src= "{% static 'Floarist.jpg' %}" class="img_talent right img-responsive">
			<h3 class='overlay_talent'> Talent</h3>

		</div>



		</div>
	</div>
		




	<div class="row">
	<div class="col-md-9 col-md-offset-1">

		<div class="col-md-4 talents col-sm-12 imgcol ">
			<img src= "{% static 'Mehandi-Artist.jpg' %}" class=" left img_talent img-responsive">
			<h3 class='overlay_talent'> Talent</h3>

		</div>
		<div class="col-md-4 talents col-sm-12 imgcol  ">
			<img src= "{% static 'Photographer.jpg' %}" class="img_talent img-responsive">
			<h3 class='overlay_talent'> Talent</h3>

		</div>
		<div class="col-md-4 talents col-sm-12 imgcol ">
			<img src= "{% static 'Sound-artist.jpg' %}" class="img_talent right img-responsive">
			<h3 class='overlay_talent'> Talent</h3>

		</div>
	</div>


	




	</div>
	<div class="col-md-9 col-md-offset-1">

		<div class="row">
		<div class="col-md-4 talents col-sm-12  imgcol ">
			<img src= "{% static 'Entertainers.jpg' %}" class="left img_talent img-responsive">
			<h3 class='overlay_talent'> Talent</h3>
		</div>
		<div class="col-md-4 talents col-sm-12 imgcol  ">
			<img src= "{% static 'event-staff.jpg' %}" class="img_talent img-responsive">
			<h3 class='overlay_talent'> Talent</h3>

		</div>
		<div class="col-md-4 talents  col-sm-12 imgcol ">
			<img src= "{% static 'Floarist.jpg' %}" class="img_talent right img-responsive">
			<h3 class='overlay_talent'> Talent</h3>

		</div>
	</div>

	</div>

</div>

</div>


    <div class="row">


            <div class="large-box">
            <div class="content-box text-center" id="headertext">

                <h1>Some Title Text</h1>

                <br>

                <h3>Some Description Text</h3>
                <hr id="talenthr">

            </div>
            <br>

            <div class="row">

                <div class="row festrow">
                <img src="{% static 'Entertainers.jpg' %}" class="img_festival img-circle ">
                <img src="{% static 'Entertainers.jpg' %}" class="img_festival img-circle  ">
         
                <img src="{% static 'Entertainers.jpg' %}" class="img_festival img-circle  ">
                <img src="{% static 'Entertainers.jpg' %}" class="img_festival img-circle  ">
            </div>
                </div>

        </div>

        </div>
        <br>


<div class="row" >
	<div class="box" id= "footer">
		<div class="row">
			<div class="col-md-4">
				<div class="row">
					<h3 class="wname">WebsiteName</h3></div>
				</div>
			</div>
			<div class="row textfooter">
				<p>This spans throughtout the footer for copyright etc.</p>

			</div>
		</div>
			

	</div>


</div>

</body>
</html>