{% extends 'root/base.html' %}
{% load bootstrap %}
{% load endless %}

{% block page_title %}Search Results{% endblock %}

{% block header_block %}


<script type="text/javascript">
$(function(){

  $(function(){

    {% if set_city == '' %}
          $('#cityModal').modal({
              backdrop: 'static',
              keyboard: false
          });

    {% endif %}
});
    $(".tagged").hide();

    $('.talent-'+$('select[name=talents]').val()).show();

    $('select[name=talents]').change(function(){
        $(".tagged").hide();
        $('.talent-'+$(this).val()).show();
    });
});
$(document).ready(function(){


   $.endlessPaginate({
              paginateOnScroll: true

                                               
         });
   $("#cityinput").autocomplete({
          source : function(request,response) {
              var results = $.ui.autocomplete.filter(cityList, request.term);
              if (!results.length) {
                results = ['Sorry, we are not present in your city'];
            }
            response(results);
          },
          minLength: 2,
          select: function(e,ui){
              if(ui.item.label == 'Sorry, we are not present in your city') {
                  e.preventDefault();
              }
              else {
                  window.location = "/set_city?city=" + ui.item.label.toLowerCase();
              }

          }
      });






          var slider = document.getElementById('slider');

noUiSlider.create(slider, {
  start: [0, 30000],
  connect: true,
  step: 1000,
  range: {
    'min': 0,
    'max': 50000
  }
});
$("#id_budget_min").val(parseInt(slider.noUiSlider.get()[0]))
$("#id_budget_max").val(parseInt(slider.noUiSlider.get()[1]))
slider.noUiSlider.on('update', function(){
  $("#id_budget_min").val(parseInt(slider.noUiSlider.get()[0]))
$("#id_budget_max").val(parseInt(slider.noUiSlider.get()[1]))
$("#budget").text("Budget : Rs. "+parseInt(slider.noUiSlider.get()[0])+ " - "+"Rs. "+parseInt(slider.noUiSlider.get()[1]))


});

slider.noUiSlider.on('end',function(){
  setTimeout(function() {
    $.ajax({
                  data:$("#f-form").serialize(),
                  
                  type: "GET", // GET or POST
                  url: '/ajaxforfilters/' ,
                  success: function(response) { 
              
              
                    $('#result-box').html(response);
                
            },
                });
   
}, 5000);
});


   $('#id_function_type').on('change', function() {
                $.ajax({
                  data:$("#f-form").serialize(),
                  
                  type: "GET", // GET or POST
                  url: '/ajaxforfilters/' ,
                  success: function(response) { 
              
              
                    $('#result-box').html(response);
                
            },
                });
            });
   $('#id_filter_by').on('change', function() {
    ;
$.ajax({          
                  data:$("#f-form").serialize(),
                  
                  type: "GET", // GET or POST
                  url: '/ajaxforfilters/' ,
                  success: function(response) { 

              $('#result-box').html(response);


                
            },
                });            });
   $('#id_talents').on('change', function() {
$.ajax({
                  data:$("#f-form").serialize(),
                  
                  type: "GET", // GET or POST
                  url: '/ajaxforfilters/' ,
                  success: function(response) { 
              
              $('#result-box').html(response);

                
            },
                });            });
   $('.tagged label input').on('change', function() {
$.ajax({
                  data:$("#f-form").serialize(),
                  
                  type: "GET", // GET or POST
                  url: '/ajaxforfilters/' ,
                  success: function(response) { 
              
              $('#result-box').html(response);

                
            },
                });            });
   $('#id_outstation').on('change', function() {
$.ajax({
                  data:$("#f-form").serialize(),
                  
                  type: "GET", // GET or POST
                  url: '/ajax/' ,
                  success: function(response) { 
              
              $('#result-box').html(response);

                
            },
                });            });

})
</script>
<style type="text/css">
.content-box{
  margin-bottom: 20px;
}
.noUi-horizontal .noUi-handle {

    top: -13px;
    border-radius:17px;
    height: 34px;
  }
  .noUi-target {
    height: 12px;
}
.noUi-handle:after, .noUi-handle:before {

    display: none;
}
#budget{
  margin-bottom: 20px;
}
.noUi-connect {
    background: #fc6042;
}
.content-box{

    box-shadow: -1px 4px 5px #d1d1d1;
}
.listing-name h5{
  font-size: 17px;
}
.outright{
  background: #27AE60;
  color: white;
      margin-top: 6px;
    border: solid 1px;
    border-radius: 3px;
    padding-left: 2px;
    margin-right: 1px;

}
.outwrong{
  background-color: #333;
  color: white;
      margin-top: 6px;
    border: solid 1px;
    border-radius: 3px;
    padding-left: 2px;
    margin-right: 1px;
}

</style>
{% endblock %}

{% block body_block %}
 

    <div class="container-fluid container-back">

    <div class="row">
        <div class="col-md-3">
            <div class="filter-sidebar">
            <div class="filter-header">
                <p class="filter-header-text">Filters</p>
                <div class="caption-separator"></div>
            </div>
                <div class="form">
                    <form class="filter-form" id="f-form">
                        <div class="row">
                        <div class="col-md-12">
                        <div class="form-sort-holder">
                            {{ form.filter_by | bootstrap }}
                        </div>
                        </div>
                        <div class="col-md-12">
                        <div class="form-talent-holder">
                            {{ form.talents | bootstrap }}
                        </div>
                        </div>

                        <div class="col-md-12">
                        <div class="form-function-holder">
                            {{ form.function_type | bootstrap }}
                        </div>
                        </div>

                        <div class="col-md-12">
                        <div class="form-tag-holder">
                            <div class="form-group additional-separator">
                        <label class="control-label tags-control">{{ form.tags.label }}</label>
                        <div>
                {% for choice in form.tags.field.choices %}
                    <div class="tagged talent-{{ choice.2.talent.pk }}" talent_for="{{ choice.2.talent.pk }}">
                        <label><input type="checkbox"
                               name="{{ form.tags.name }}"
                               value="{{ choice.0 }}"
                                {% if choice.0|safe in form.tags.value or choice.0 in form.tags.value %} checked="checked" {% endif %}><span>
                        {{ choice.2 }}</span></label>
                    </div>
                {% endfor %}
                            </div>
                    </div>
            {% if form.tags.errors %}
                <span class="help-block">{{ form.tags.errors }}</span>
            {% endif %}
                        </div>
                        </div>


                    <div class="col-md-12">
                    <div class="form-outstation-holder">
                       {{ form.outstation | bootstrap }}
                    </div>
                    </div>
                    {{form.budget_min | bootstrap_inline}}
                    {{form.budget_max | bootstrap_inline}}
                    <div class="col-md-12">
                      <h4 id="budget">Budget : </h4>
                    <div class="form-budget-holder" id="slider">
                    </div>
                    <h4>{{ tn.fee_text }}</h4>
                    </div>

                        </div>

                    </form>
                </div>

            </div>
        </div>

        <div class="col-md-9">

            <div id="result-box">

                <div class="row">

                     {% include page_template %}

                    


                </div>

            </div>

        </div>

    </div>

    </div>

{% endblock %}
