{% extends 'base.html' %}
{% load bootstrap %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

{% block body_block %}

    <script type="text/javascript">

    function return_to_original(){
            $(".actionable").hide();
            $(".options").show();
        };

    $(document).ready(function(){

        $(".go_back").click(function(){
           return_to_original();
        });

        $('#add_modal').on('hidden.bs.modal', function () {
                return_to_original();
            });
        $(".actionable").hide();

        $("#add_video").click(function(){
            $(".media_mg").hide();
            $(".video_add_screen").show();
        });

         $("#add_sound").click(function(){
            $(".media_mg").hide();
            $(".sound_add_screen").show();
        });

        $("#add_photo").click(function(){
            $(".media_mg").hide();
            $(".image_add_screen").show();
        });

    });

    </script>

<h2>Hello</h2>


    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_modal">Large modal</button>

    <div class="modal fade" tabindex="-1" role="dialog" id="add_modal" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
          <div class="media_mg options">
        <div class="row buttons">
          <div class="col-md-4">
              <button type="button" class="btn btn-primary" id="add_photo" mtype="photos">Add Photos</button>
          </div>
          <div class="col-md-4">
               <button type="button" class="btn btn-primary" id="add_sound" mtype="sound">Add Soundcloud</button>
          </div>
            <div class="col-md-4">
               <button type="button" class="btn btn-primary" id="add_video" mtype="video">Add Youtube</button>
          </div>
            </div>
        </div>

          <div class="media_mg actionable image_add_screen">
                      {% load jfutags %}
                      {% jfu %}
              <button class="go_back btn btn-info">GO Back</button>
              </div>

              <div class="media_mg actionable video_add_screen">
                <form name="video_add_form">
                    {{ yt |bootstrap}}
                </form>
                  <button class="btn btn-success">Add Video</button>
                  <button class="go_back btn btn-info">GO Back</button>
              </div>

              <div class="media_mg actionable sound_add_screen">

                  <form name="sound_add_form">

                    {{ sc|bootstrap}}

                 </form>
                  <button class="btn btn-success">Add Video</button>
                  <button class="go_back btn btn-info">GO Back</button>

              </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}
</body>
</html>