<div class='box' id="searchbox">
<div class="row">
	<div class = "col-md-4 col-md-offset-1 innersearchbox">
		<div class="firstbox">
		<div class="row secondform">
			<div class="col-md-6">
			{{form.talents|bootstrap_inline}}
			<span class="glyphicon glyphicon-triangle-bottom"></span>

			</div>
			<div class="col-md-6">
                {{form.function_type|bootstrap_inline}}
			<span class="glyphicon glyphicon-triangle-bottom"></span>

			</div>

		</div>
		<div class="row">
			<div class-"col-md-4" style="padding-left:15px;">
				<h5 style="color:#424242;font-size:1.2em;font-family: 'Ubuntu', sans-serif;
">Outstation Artists?</h5>
			</div>
		<div class="row">
			<div class-"col-md-4" style="padding-left:15px;">
			{{form.outstation}}

			</div>
		</div>
		


		<div class="row">
			<h4 id="budget">Budget :</h4>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id='slider'></div>
			</div>
			
			{{form.budget_min|bootstrap_inline}}
			{{form.budget_max|bootstrap_inline}}

		</div>
		<div class="row">
			<div class="col-md-12 searchartistbutton">
				<button type="submit" class="btn btn-success">Search</button>

			</div>

		</div>
	</div>
</div>
		
		

		<div class="secondbox">
	<div class="row">
			<div class="col-md-12">
				{{artist_form.name|bootstrap_inline}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 searchartistbutton">
				<button type="submit" class="btn btn-success">Search</button>
			</div>
		</div>

		</div>
		
		</div>
		</div>
		

		
	</div>