{% extends 'root/base.html' %}
{% load static %}


	{% load bootstrap %}
    {% block page_title %} Register As A User{% endblock %}
    {% block body_block %}

    <style type="text/css">

    .mainrow{
    	margin-top: 8%;
    }
    .regwell{
    	background: white;
    	padding-bottom: 30px;
    	padding-top: 30px;
    }
    .regcol{
    	border-right: 1px solid #d1d1d1;
    }
    .socialcol2{
    	position: absolute;
    	top: 20%;
    	left:50%;
    }
    .googlebutton{
            background-color: #DC4B39;
            width: 286px;
            height: 39px;
            border:none;
            margin-bottom: 20px;
            text-align: center;
            margin-top: 10px;
        }
        .socialtext{
            color: white;
            margin-top:3%;
            position: relative;
            right:10px;
        }
        .fbbutton{
            background-color: #3B5998;
            width: 286px;
            height: 39px;
            border:none;
        }
        .scicon{
            width:30px;
            float: left;
            position: relative;
            top:-5px;

        }



    </style>
<div class= "row mainrow">
    <div class = " col-md-offset-2 col-md-8 well regwell" >

    		<div class="col-md-6 regcol">


    		<form method="post" id="registerform">

    {% csrf_token %}

    {{ form | bootstrap }}

    <input type="submit" class="btn btn-default buttonsubmit" value="Sign Up">

</form>


    		</div>
    		<div class="col-md-6 socialcol socialcol2">
    <button class="googlebutton"><div>
            <img src="{% static 'google.png' %}" class="scicon">
            <p class="socialtext">Continue With Google</p>

        </div></button>
        <button class="fbbutton"><div>
            <img src="{% static 'facebook.png' %}" class="scicon">
            <p class="socialtext">Continue With Facebook</p>

        </div></button>

</div>
    		



    </div>
</div>




</div>
{% endblock %}