{% extends 'base.html' %}
{% load static %}


	{% load bootstrap %}
    {% block page_title %} Register As A User{% endblock %}
    {% block body_block %}
<div class= "row">
    <div class = " col-md-offset-2 col-md-8" >
<form method="post">

    {% csrf_token %}

    {{ form | bootstrap }}

    <input type="submit" class="btn btn-default" value="submit">
    <a href="/login"><input class = "btn btn-default" value="Login"></a>

</form>


<a href='{% url "socialauth_begin" "facebook" %}' /> Login with Fb </a>
<a href='{% url "socialauth_begin" "google-oauth2" %}' /> Login with Google </a>
</div>
{% endblock %}