{% extends 'root/base.html' %}
{% load static %}

    {% load bootstrap %}


    {% block header_block %}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
    $(document).ready(function(){






    });
        
    </script>
    <style type="text/css">
    .googlebutton{
            background-color: #DC4B39;
            width: 286px;
            height: 39px;
            border:none;
            margin-bottom: 20px;
            text-align: center;
            margin-top: 10px;
        }
        .socialtext{
            color: white;
            margin-top:3%;
            position: relative;
            right:10px;
        }
        .fbbutton{
            background-color: #3B5998;
            width: 286px;
            height: 39px;
            border:none;
        }
        .scicon{
            width:30px;
            float: left;
            position: relative;
            top:-5px;

        }
        .logcol2{
            margin-top: 0px;
            border-right:1px solid #d1d1d1;
            padding-top: 2%;

        }

        .logimg{
            height:50px;
            width:270px;
        }
        .maincol{
            margin-top: 10%;
            background-color: white;
            padding-left: 0px;
            padding-right: 0px;
        }
        .socialcol{
            margin-top: 8%;
            text-align: center;
        }
        .facebook{
                height: 62px;
            margin-top: 20px;
        }


    </style>
  

    {% endblock %}
    {% block body_block %}




    <div class="row">
        <div class="col-md-8 col-md-offset-2 maincol well">

                  <div class="col-md-6 logcol2">




    <form method="post" id="loginform">

    {% csrf_token %}

    {{ form_login |bootstrap}}
<a><input class = "btn btn-default buttonsubmit" type="submit" value="Login" name="login"></a>
        <a href="#" id="forgot">Forgot Password?</a>




</form>



</div>
<div class="col-md-6 socialcol">
   <button class="googlebutton"><div>
            <img src="{% static 'google.png' %}" class="scicon">
            <p class="socialtext">Continue With Google</p>

        </div></button>
        <button class="fbbutton"><div>
            <img src="{% static 'facebook.png' %}" class="scicon">
            <p class="socialtext">Continue With Facebook</p>

        </div></button>



</div>



    </div>

        




        </div>

  



</div>

{% endblock %}