<!DOCTYPE html>
{% extends 'root/base.html' %}
{% load static %}

{% block header_block %}
<link rel="stylesheet" href="{% static 'css/photoswipe/photoswipe.css' %}">
<link rel="stylesheet" href="{% static  'css/photoswipe/default-skin/default-skin.css' %}">
<script type="text/javascript" src="{% static 'js/photoswipe/photoswipe.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/photoswipe/photoswipe-ui-default.min.js' %}"></script>

<!-- Add fancyBox -->
<link rel="stylesheet" href="{% static 'fancybox/source/jquery.fancybox.css' %}" type="text/css" media="screen" />
<script type="text/javascript" src="{% static 'fancybox/source/jquery.fancybox.pack.js' %}"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->
<link rel="stylesheet" href="{% static 'fancybox/source/helpers/jquery.fancybox-buttons.css' %}" type="text/css" media="screen" />
<script type="text/javascript" src="{% static 'fancybox/source/helpers/jquery.fancybox-buttons.js' %}"></script>
<script type="text/javascript" src="{% static 'fancybox/source/helpers/jquery.fancybox-media.js' %}"></script>

<link rel="stylesheet" href="{% static 'fancybox/source/helpers/jquery.fancybox-thumbs.css' %}" type="text/css" media="screen" />
<script type="text/javascript" src="{% static 'fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7' %}"></script>

<style type="text/css">
    .media-container{
        min-height: 400px;
    }
    .photo-grid,.video-grid,.sounds{
        margin-top: 20px;
        margin-left: 0px;
    }
    .my-gallery{
        margin:0px;
    }
    .nav-tabs>li>a{
        color: #FC6042;
    }
    .img-col{
        padding-left: 0px;
        text-align: center;
    }


</style>


{% endblock %}

{% block body_block %}
    <script type="text/javascript">

    sc_set = true;

    $(document).ready(function(){

            $('.vdmedia').fancybox({
                openEffect  : 'none',
                closeEffect : 'none',
                helpers : {
                    media : {}
                }
            });

        $(document).ready(function() {
	$(".fancybox").fancybox({
		openEffect	: 'none',
		closeEffect	: 'none'
	});
});
        $('a[aria-controls="sounds"]').on('shown.bs.tab', function (e) {

            if(sc_set) {
                $(".soundcloud_embed").each(function () {
                    var url = $(this).attr('url');

                    settings = {
                        "async": true,
                        "crossDomain": true,
                        "url": "http://soundcloud.com/oembed",
                        "method": "POST",
                        "headers": {},
                        "data": {
                            "format": "json",
                            "url": url,
                            "maxheight": 130,
                            "maxwidth": 600
                        }
                    }

                    var current = $(this);

                    $.ajax(settings).done(function (response) {
                        current.html(response.html);
                    });
                });
                sc_set = false;
            }
        });

    });

    </script>

{% if not images and not sounds and not videos %}
No Media added yet. <a href="manage">Add some ? </a>
{% endif %}


    <div class="container form-wizard media-container">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Photos</a></li>
    <li role="presentation"><a href="#videos" aria-controls="videos" role="tab" data-toggle="tab">Videos</a></li>
    <li role="presentation"><a href="#sounds" aria-controls="sounds" role="tab" data-toggle="tab">Sounds</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="photos">

    <div class="my-gallery row" itemscope itemtype="http://schema.org/ImageGallery">

    {% for image in images %}
        <div class="col-md-2 img-col">

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="photo-grid">


      <a href="{{ image.url }}" itemprop="contentUrl" class="img-content">
          <img src="{{ image.url }}" itemprop="thumbnail" alt="{{ image.title }}" />
      </a>
      <figcaption itemprop="caption description txt" style="display:none">{% if image.title %}{{ image.title }} - {% endif %} {{ image.caption }}</figcaption>

        </figure>
        <h4>Listing : {{image.listing.name}}</h4>
    </div>

    {% endfor %}

    </div>

    </div>


    <div role="tabpanel" class="tab-pane" id="videos">

            <div class="row">
{% for video in videos %}
    <div class="col-md-2 img-col">
    <div class="video-grid">
    <a class="vdmedia video-pc" rel="video-gallery" href="{{ video.url }}" title="{% if video.title  %}{{ video.title }} - {% endif %} {{ video.caption }}"><div class="playbutton"><i class="glyphicon glyphicon-play-circle playbtn"></i></div><img src="http://img.youtube.com/vi/{{ video.vid }}/hqdefault.jpg"></a>
    </div>
{#<iframe id="ytplayer" type="text/html" width="300" height="200" src="http://www.youtube.com/embed/{{video.vid}}" frameborder="0" /></iframe>#}
        <h4>Listing : {{image.listing.name}}</h4>

{% endfor %}
            </div>
        </div>



    <div role="tabpanel" class="tab-pane" id="sounds">
                {% for sound in sounds %}
                <h3>{{ sound.title }}</h3>
                <br>
                <div class="soundcloud_embed" url="{{ sound.url }}"></div>
                        <h4>Listing : {{image.listing.name}}</h4>

                <br/>
            {% endfor %}


    </div>
  </div>

</div>

<br/>


<br/>


    {# Begin the photoswipe block #}

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">


    <div class="pswp__bg"></div>


    <div class="pswp__scroll-wrap">


        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">


                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>



            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

    {# End PhotoSwiple Block #}


{% endblock %}
