<!DOCTYPE html>
{% extends 'base.html' %}

{% block body_block %}
    <script type="text/javascript">

    $(document).ready(function(){

        $(".soundcloud_embed").each(function(){
            var url = $(this).attr('url');
            console.log(url);

        settings = {
          "async": true,
          "crossDomain": true,
          "url": "http://soundcloud.com/oembed",
          "method": "POST",
          "headers": {},
          "data": {
            "format": "json",
            "url": url,
            "maxheight" :100,
            "maxwidth": 100
          }
        }

            var current= $(this);

        $.ajax(settings).done(function (response) {
            current.html(response.html);
            });
        });



    });

    </script>

{% if not image and not sounds and not videos %}
No Media added yet. <a href="manage">Add some ? </a>
{% endif %}


    <div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Photos</a></li>
    <li role="presentation"><a href="#videos" aria-controls="videos" role="tab" data-toggle="tab">Videos</a></li>
    <li role="presentation"><a href="#sounds" aria-controls="sounds" role="tab" data-toggle="tab">Sounds</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="photos">

        <h2>Photos : </h2>
{% for image in images %}
<img src="{{ image.url }}" width="200" height="200">
    <br/>
{% endfor %}
<br/>


    </div>
    <div role="tabpanel" class="tab-pane" id="videos">


        <h2>Videos :</h2>

{% for video in videos %}

<iframe id="ytplayer" type="text/html" width="300" height="200" src="http://www.youtube.com/embed/{{video.vid}}" frameborder="0" /></iframe>

<br/>
{% endfor %}



    </div>
    <div role="tabpanel" class="tab-pane" id="sounds">

            <h2>Sounds :</h2>

                {% for sound in sounds %}
                {{ sound.title }}
                <div class="soundcloud_embed" url="{{ sound.url }}"></div>
                <br/>

            {% endfor %}


    </div>
  </div>

</div>

<br/>








<br/>


{% endblock %}
